---
import Layout from '../src/layouts/Layout.astro';
import Header from '../src/components/Header.astro';
import { getPortfolio } from '../src/data/portfolio-notion-wp';


const { portfolio } = Astro.params

const info = (await getPortfolio({ filterBy: portfolios }))[0]

if (!info) { 
  return Astro.redirect("/404")
}
---

<Layout title='Portfolio'>
    <Header title='Portfolio'/>
    <ul>
        {portfolios.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</Layout>
