---

export interface Props {
    subtitle: string,
    id: number,
}
const {
    subtitle,
    id,
} = Astro.props

function select(){
}

---

<article class="cardquiz">
    <h3>{subtitle}</h3>
    <section class="response">
        <slot/>
    </section>

    <aside>{id}</aside>

</article>

<style>
.cardquiz{
}
h3{
    color: var(--c-extra);
    text-align: center;
    font-size: 1.5rem;
}
p {
  margin: 0;
  padding: 0rem 0.8rem 0.5rem 0.8rem;
  font-size: 1.2rem;
  line-height: 140%;
}
.response{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: 2rem;
}

aside{
    visibility: hidden;
    position: absolute;
}
@media screen and (max-width: 700px){
    .carquiz{
        width: 400px;
    }
    .response{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    }
}
</style>