---
import Layout from "../layouts/Layout.astro";
import Simbolo from '/simboloche.svg'
---

<Layout title="404, no lo he encontrado" titleHeader="">
  <main>
    <section class="404">
      <h1>404 Not Found</h1>
      <h2>Oh, vaya. <br> ¡Nos hemos perdido!</h2>
      <img src="https://midu.dev/images/this-is-fine-404.gif" />
      <h2><a href="/">¿Volvemos a Empezar?</a></h2>
      <img src={Simbolo} alt="" class="simbolo">
    </section>
  </main>
</Layout>

<style>
    main{
      display: grid;
      place-items: center;
      height: 100vh;
    }
    img{
      border-radius: var(--b-r-2);
    }
    h1, h2{
      color: var(--c-primary);
      text-align: center;
      margin: 1rem;
    }
    h1{
      font-size: 3.5rem;
      margin: 0rem;
    }
    a{
      color: var(--c-primary);
      
      display: inline-block;
      position: relative;
    }
    a:hover{
      color: var(--c-extra); 
    }
    a:hover:after{
      width: 100%; 
      left: 0; 
    }
    a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: var(--c-extra);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
</style>