---
import Layout from '../layouts/Layout.astro';
import AboutMeCover from '../../public/about-me-cover.webp'
---

<Layout title='Acerca De CHE! design' titleHeader='CHE! design'>
    <main>
        <article>
            <section class="che">
                <h3>Acerca de CHE! design</h3>
                <p>Soy un Estudio Independiente con una amplio conocimiento en distintas areas del Diseño Gráfico, Fotografía e Ilustración. <br>Diseño multidisciplinario dedicado al desarrollo de identidad de marca.</p>
            </section>
            <section class="me">
                <h3>Acerca de Mi</h3>
                <p>Soy Santiago Vicente Ramos, actualmente me encuentro estudiando Diseño Gráfico en la Escuela Superior de Artes Visuales Lino Enea Spilimbergo. <br> <br>Trabajo principalmente como Freelancer, mi objetivo es brindarte todo mi conocimiento para solucionar tus necesidades comunicacionales que necesite tu Negocio.<br></p>
                
            </section>
            <section class="contact">
                <h3>Contacto </h3>
                
                <p>
                    <a target="_blank" href="https:/instagram.com/chedisenografico"><span class="ico icon-instagram"></span></a>
                    <a target="_blank" href="https://www.behance.net/santiagoramos1"><span class="ico icon-behance"></span></a>
                    <a target="_blank" href="https://www.linkedin.com/in/santiago-vicente-ramos-28876b23b/"><span class="ico icon-linkedin2"></span></a>
                    <a target="_blank" href="mailto:santiagovicenteramos@gmail.com"><span class="ico icon-gmail"></span></a>
                </p>
            </section>
        </article>
        <img class="photo" src={AboutMeCover}>
    </main>
</Layout>

<style>
main{
    color: var(--c-d);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
article {
    align-self: center;
    padding: 0px 0.5rem;
}
    section.che{

    }
    section.me{

    }
    h3{
        text-shadow: 0px 0px 30px var(--c-l-g);
    }
    p{
        max-width: 50ch;
    }
    .social-media{
        font-family: ;
    }
    a{
        padding: 0.5rem;
        margin: 0px 0.6rem;
        text-decoration: none;
        font-size: 2rem;
        transition: 200ms;
        color: var(--c-d);
    }
        a:hover{
            color: var(--c-primary);
        }
    img.photo{
        z-index: -1;
        width: 80%;
        max-width: 500px;
        margin: 20px;
        margin-bottom: 3rem;
        border-radius: var(--b-r-2);
        box-shadow: 0px 0px 20px var(--c-l), 0px 0px 1000px var(--c-primary) ;
    }

</style>