---
import Layout from '../layouts/Layout.astro';
import IndexLinks from '../components/IndexLinks.astro';
import Logo from '/logo.svg';
import Simbolo from '/simboloche.svg';
---

<Layout title="CHE! Design" titleHeader="">
	
	<main>
		<img src={Simbolo} alt="" class="simbolo">
		<h1>Diseño Grafico</h1>
		<img class="logo" src={Logo} id="easter-egg-image" alt="Logo Che">
		<div class="menu">
			<ul role="list" class="link-card-grid">
				<IndexLinks
					href=portfolio
					title="Portfolio"
					body="Algunos trabajos realizados."
				/>
				<IndexLinks
				href=servicios
				title="Servicios"
				body="Conozca las posiblidades que le brindamos."
				/>
				<IndexLinks
				href=acercade
				title="Acerca de"
				body="Conozca más sobre CHE!."
				/>
			</ul>
			<div id="easter-egg-container" class="hidden-content">
				<IndexLinks
				href=quiz
				title="quiz"
				body="quiz"
				/>
				<IndexLinks
				href=tarifa
				title="tarifa"
				body="tarifa"
				/>
			</div>
			<p>Una <span class="subrayado">Agencia Creativa</span> para <br>que <span class="subrayado">juntos destaquemos</span><br>tu <span class="subrayado">Negocio</span></p>
		</div>
	</main>
</Layout>

<style>
.SwitchDarkLight{
	position: fixed;
	top: 50px;
	right: 50px;
}
main {
    padding: 6rem;
    display: flex;
    flex-direction: column;
    align-items: end;
}
img.logo{
	max-width: 500px;
}
main div.menu{
    display: flex;
    width: -webkit-fill-available;
	width: -moz-available;
    justify-content: space-between;

}
ul{
    width: 340px;
    margin: 0;
    padding: 0;
}
h1 {
	font-size: 3rem;
	font-weight: 800;
	margin: 0;
	color: var(--c-l);
	opacity: 0;
	position: fixed;
	top: -200px;
	z-index: -1;
}
@media screen and (max-width: 860px){
	main{
		padding: 2rem;
		justify-content: center;
		align-items: center;
	}
	main div{
		flex-direction: column-reverse;
		align-items: center;
	}
	img.logo{
		max-width: 400px;
	}
}

p{
	color: var(--c-primary);
	font-size: 28px;
	font-family: 'Times New Roman', Times, serif;
}
span.subrayado{
	text-decoration: underline;
	transition: color 300ms;
}
span.subrayado:hover{
	background-color: var(--c-primary);
	color: var(--c-l);
}
.c-primary {
	color: var(--c-primary);
}
.instructions {
	line-height: 1.6;
	margin: 1rem 0;
	border: 1px solid rgba(var(--accent), 25%);
	background-color: white;
	padding: 1rem;
	border-radius: 0.4rem;
}
.instructions code {
	font-size: 0.875em;
	font-weight: bold;
	background: rgba(var(--accent), 12%);
	color: rgb(var(--accent));
	border-radius: 4px;
	padding: 0.3em 0.45em;
}
.instructions strong {
	color: rgb(var(--accent));
}
.link-IndexLinks-grid {
	display: inline-block;
	padding: 0;
}
.IndexLinks{
	margin: 100px;
}

.hidden-content {
  display: none;
}
</style>

<script>
// Obtener la imagen y el div objetivo
const easterEggImage = document.getElementById('easter-egg-image');
const easterEggContainer = document.getElementById('easter-egg-container');

// Contador de clics
let clickCount = 0;

// Función para agregar la clase al div cuando se cumple la condición
function removeClassOnEasterEgg() {
if (clickCount >= 4) {
	easterEggContainer?.classList.remove('hidden-content');
	// Si deseas eliminar el evento de clic después de activar el easter egg, descomenta la siguiente línea.
	// easterEggImage.removeEventListener('click', countClicks);
}
}

// Función para contar los clics en la imagen
function countClicks() {
clickCount++;
removeClassOnEasterEgg();
}

// Agregar el evento de clic a la imagen
easterEggImage?.addEventListener('click', countClicks);
</script>