---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ServicioCards from '../components/ServicioCards.astro';
---

<Layout title='Servicios'>
    <Header
    title='Servicios'
    />
    <section class="ServicioCards
">
        <ServicioCards
        href=Branding
        title="Branding"
        body="Identidad Corporativa para tu Negocio."
        imgsrc='https://th.bing.com/th/id/OIP.NPbv2vgnQiILXRDJlXYCnAHaE1?pid=ImgDet&rs=1'
    />
    <ServicioCards
    href=Editorial
    title="Editorial"
    body="Maquetación de Libros y Revistas todo el proceso creativo."
    imgsrc='https://th.bing.com/th/id/R.65592cf3182542d6b0fe5e1ed519e331?rik=u3ZJ11UyYGWn%2bg&pid=ImgRaw&r=0'
/>
<ServicioCards 
href=diseñoweb
title="Diseño Web"
body="Desarrollamos tu Pagina Web, con diversas tecnologias, la que se adecue a tu presupuesto o objetivo."
imgsrc='https://th.bing.com/th/id/OIP.LAgThWGQjMd_wO8K1hb_ngHaE8?pid=ImgDet&rs=1'
/>
<ServicioCards 
href=Branding
title="Branding"
body="Identidad Corporativa para tu Negocio."
imgsrc='https://th.bing.com/th/id/OIP.NPbv2vgnQiILXRDJlXYCnAHaE1?pid=ImgDet&rs=1'
/>
<ServicioCards 
href=Branding
title="Branding"
body="Identidad Corporativa para tu Negocio."
imgsrc='https://th.bing.com/th/id/OIP.NPbv2vgnQiILXRDJlXYCnAHaE1?pid=ImgDet&rs=1'
/>
<ServicioCards 
href=Branding
title="Branding"
body="Identidad Corporativa para tu Negocio."
imgsrc='https://th.bing.com/th/id/OIP.NPbv2vgnQiILXRDJlXYCnAHaE1?pid=ImgDet&rs=1'
/>
<ServicioCards 
href=Branding
title="Branding"
body="Identidad Corporativa para tu Negocio."
imgsrc='https://th.bing.com/th/id/OIP.NPbv2vgnQiILXRDJlXYCnAHaE1?pid=ImgDet&rs=1'
/>
<ServicioCards 
href=Branding
title="Branding"
body="Identidad Corporativa para tu Negocio."
imgsrc='https://th.bing.com/th/id/OIP.NPbv2vgnQiILXRDJlXYCnAHaE1?pid=ImgDet&rs=1'
/>
    </section>
    
</Layout>

<style>
    main{

    }
    section.ServicioCards
{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
</style>