---
import Layout from '../layouts/Layout.astro';
import BackPage from '../components/BackPage.astro'
import SwitchDarkLight from '../components/SwitchDarkLight.astro';

interface Props {
	title: string;
}
const { title } = Astro.props;
---

    <nav>
        <section class="header">
            <div><BackPage href=/></BackPage></div>
            <h1>{title}</h1>
            <div><SwitchDarkLight></SwitchDarkLight></div>
        </section>
    </nav>


<style>
    main{

    }
    section.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 40px;
    }

    h1{
        color: var(--c-primary) !important;
        font-size: 1.17em !important;
        margin-block-start: 1em !important; 
    margin-block-end: 1em !important;
    }
</style>