---
import Layout from '../../layouts/Layout.astro';
import MarkDown from '../../content/servicios/branding.mdx'
import StyleMarkDown from '../../layouts/StyleMarkdown.astro'
---
<StyleMarkDown/>
<Layout title='Marca Corporativa' titleHeader='Marca Corporativa' >
    <section class="markdown">
        <MarkDown/>
    </section>
</Layout>

<style>

</style>