---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
---

<Layout title='Marca Corporativa' >
    <Header title='Marca Corporativa'/>
    <section>
    </section>
</Layout>

<style>
section{
    margin: auto;
    max-width: 1024px;
}
p{
    max-width: 80ch;
}
</style>