---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
import MarkDown from '../../content/servicios/editorial.md'
---

<Layout title='Maquetación Editorial' >
    <Header title='Maquetación Editorial'/>
    <section class="markdown-servicios">
        <MarkDown/>
    </section>
</Layout>

<style>

</style>