---
import Layout from '../../layouts/Layout.astro';
import Header from "../../components/Header.astro";
import MarkDown from '../../content/servicios/editorial.md'
import StyleMarkDown from '../../layouts/StyleMarkdown.astro'
---
<StyleMarkDown/>
<Layout title='Maquetación Editorial' >
    <Header title='Maquetación Editorial'/>
    <section class="markdown">
        <MarkDown/>
    </section>
</Layout>

<style>

</style>