---
import Layout from '../../layouts/Layout.astro';

import StyleMarkDown from '../../layouts/StyleMarkdown.astro'
---
<StyleMarkDown/>
<Layout title='Maquetación Editorial' titleHeader='Maquetación Editorial' >
    <section class="markdown">

    </section>
</Layout>

<style>

</style>