---
import type getServicios from '../data/servicio';
import Header from '../components/Header.astro';

type Props = getServicios<'blog'>['data'];

const { title, description, cover } = Astro.props;
---

<html lang="en">
	<head>
		<Header title={title} />
		<style>
			.title {
				font-size: 2em;
				margin: 0.25em 0 0;
			}
			hr {
				border-top: 1px solid #ddd;
				margin: 1rem 0;
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Header title={title} />
		<main>
			<article>
				{cover && <img width={720} height={360} src={cover} alt="" />}
				<h1 class="title">{title}</h1>
				<hr />
				<slot />
			</article>
		</main>
	</body>
</html>
