---
interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/simboloche.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<nav class="info"> Si estas viendo esta página, actualmente está en desarrollo</nav>

	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--c-primary: #ED135B; --c-primary-02: rgba(237, 19, 91, 0.2);	--c-w: #fff;
		--c-l-g: #e4e4e4;	--c-d-g: #232323;	
		--trans: #ffffff00;  --c-extra: #327eae;  --c-extra50: #75acce;
		
		--b-s-1: 2px 2px 2px rgba(0, 0, 0, 0.2);	--b-s-2: 0px -2px 8px rgba(0, 0, 0, 0.2);
		--b-r-06: .6rem;	--b-r-1: 1rem;	--b-r-2: 2rem;
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: var(--c-b-w);	color: var(--c-b-w);
		--c-l: #e4e4e4;	--c-d: #232323;

	}
	html.dark {
		background-color: var(--c-b-b);	color: var(--c-b-w);
		--c-l: #232323;	--c-d: #e4e4e4;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
	body{
		max-width: 1440px;
		min-width: 350px;
		margin: auto;
		color: var(--c-d);	
	}
	br{
		display: block;
		margin: 10px 0;
		/* line-height: 22px; */
		content: " ";
	}
	ul, li, button, a{
		margin: 0;
		padding: 0;
		border: none;
		box-shadow: none;
		text-decoration: none;
	}

	nav.info{
		position: fixed;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		background-color: #327eae;
		color: #fff;
		padding: 4px 12px;
		font-weight: 500;
		text-align: center;
		bottom: 0;
		z-index: 100;
	}

	.markdown-servicios {
    max-width: 720px;
    margin: auto;
}

/*CSS COMPARTIDO ENTRE PAGINAS*/	/*CSS COMPARTIDO ENTRE PAGINAS*/
.simbolo{
	position: fixed;
	bottom: -50vh;
	left: -20vw;
	opacity: 20%;
	scale: 1.5;
	animation: giro 60s linear infinite;
	z-index: -1;
	
}

@keyframes giro {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/*FONT ICON IMPORT */  /*FONT ICON IMPORT */  /*FONT ICON IMPORT */
@font-face {
  font-family: 'icomoon';
  src:  url('/social-media-font.ttf');
  src: url('/social-media-font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gmail:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-behance:before {
  content: "\eaa8";
}
.icon-linkedin2:before {
  content: "\eaca";
}


</style>
